*{
    margin: 0;
    border: 0;
    padding: 0;
}

.topSection {
    padding: 5px 100px;
    background-color:#1f2937;
    display: flex;
    flex-wrap: wrap;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    margin-right: auto;
}



.navbarlinks {
    font-size: 18px;
    color: #e5e7eb;
}

.secondSection {
    padding: 50px 100px;
    background-color:#1f2937;
    display: flex;
}

.introduction{
    flex-direction: row;
    flex: 1;
}

.praise {
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
    flex-grow: 3;
}

.elaborate {
    font-size: 18px;
    color: #e5e7eb;
    flex-grow: 2;
}

.button {
    background-color: blue; 
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
  }

  .bigImage {
    min-width: 300px;
    min-height: 100px;
    flex: 1;
  }

  .center {
    font-size: 36px;
    font-weight: bold;
    color: #1f2937;
    margin: 30px auto;
    display: block;
    width: fit-content;
  }

  .thirdSection {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding-bottom: 100px;
    width:max-content;
  }

  .item {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 220px;
}
.smallImage {
    width: 200px;
    height: 200px;
    background-color: grey;
}
.caption {
    display: block;
}

.fourthSection {
    padding: 100px;
    flex-direction: column;
    display: flex;
    background-color: #e5e7eb;
    align-items: center;
    
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.reference {
    align-self: flex-end;
}

.fifthSection {
    margin: 100px auto;
    display: flex;
}

.innerSection {
    padding: 50px 100px;
    margin: auto;
    display: flex;
    background-color: blue;
    gap: 50px;
}

.callToAction {
flex-grow: 4;
font-size: 24px;
color: white;
}

.button {
    background-color: blue; /* Green */
    border-radius: 10px;
    border: thick solid white;
    border-width: thick;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

.footer {
    padding: 10px;
    background-color: darkblue;
    color: white;
    text-align: center;
}